@model IEnumerable<SistemaBancario.Models.ListarSolicitudesPrestamo> 
@{
    ViewData["Title"] = "Lista de solicitudes de préstamos";
}

    <head>
        <link href="~/css/dashboard.css" rel="stylesheet" />
    </head>

    <div class="wrapper">
        <partial name="_MenuLateral" />
        <div id="content">
            <partial name="_BarraBusqueda" />
            <section class="tables-section">
                <!-- lista de solicitudes de prestamos -->
                <div class="outer-w3-agile mt-3">
                    <h4 class="tittle-w3-agileits mb-4">Lista de solicitudes de préstamo</h4>
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Solicitante</th>
                                <th scope="col">Cedula</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Fecha de solicitud</th>
                                <th scope="col">Estado del préstamo</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sol in Model)
                            {
                                <tr>
                                    <th scope="row">@Html.DisplayFor(modelItem => sol.id)</th>
                                    <td>@Html.DisplayFor(modelItem => sol.solicitante)</td>
                                    <td>@Html.DisplayFor(modelItem => sol.cedula)</td>
                                    <td>@Html.DisplayFor(modelItem => sol.monto)</td>
                                    <td>@Html.DisplayFor(modelItem => sol.tipo)</td>
                                    <td>@Html.DisplayFor(modelItem => sol.fechasolicitud)</td>
                                    <td>@Html.DisplayFor(modelItem => sol.estado)</td>
                                    <td>
                                        <a class="btn btn-primary" asp-action="EditarEstadoPrestamo" asp-route-id="@sol.id">Detalles</a>
                                    </td>
                                </tr> 
                            }
                        </tbody>
                    </table>
                </div>
                <!--// lista de solicitudes de prestamos -->
            </section>
        </div>
    </div>
