@model SistemaBancario.Models.ListadoUsuarios
@{
    ViewData["Title"] = "BuscarCliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
    <partial name="_MenuLateral" />
    <div id="content">

        <!-- top-bar -->
        <nav class="navbar dnavbar navbar-default mb-xl-5 mb-4">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <form action="BuscarCliente" method="post" class="form-inline mx-auto search-form">

                    <!-- Search-from -->
                    <div class="form-row">
                        <div class="form-group m-1">
                            <label>Buscar cliente por</label>
                        </div>
                        <div class="form-group m-1">
                            <input type="text" class="form-control" name="cedula" placeholder="Cedula" required="">
                        </div>
                        <div class="form-group m-1">
                            <button type="submit" class="btn btn-warning">Buscar</button>
                        </div>


                    </div>
                </form>
                <div class="form-group m-1">
                    <button type="submit" class="btn btn-primary"><a asp-controller="Usuarios" asp-action="ListadoClientes">Volver a listado</a></button>
                </div>
                <!--// Search-from -->
            </div>
        </nav>
        <!--// top-bar -->
       

        <script>
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>

        <!-- table4 -->
        <div class="outer-w3-agile mt-3">
            <h4 class="tittle-w3-agileits mb-4">Listado de clientes</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Salario</th>
                        <th scope="col">Cuenta Bancaria</th>
                        <th scope="col">Fecha Registro</th>
                        <th scope="col">Estatus</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.idCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.cedulaCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.nombreCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.apellidoCliente)
                        </td>

                        <td>
                            RD$@Html.DisplayFor(modelItem => Model.salarioCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.numeroCuentaCliente)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => Model.fechaRegistroCliente)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.estatusCliente)
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm">
                                <a asp-controller="Usuarios" asp-action="InformacionCliente" asp-route-id="@Model.idCliente">Info. general</a>
                            </button>
                            <button class="btn btn-warning btn-sm">
                                <a asp-controller="Usuarios" asp-action="EditarCliente" asp-route-id="@Model.idCliente">Editar</a>
                            </button>
                            <button class="btn btn-danger btn-sm ">
                                <a asp-controller="Usuarios" asp-action="EliminarCliente" asp-route-id="@Model.idCliente">Eliminar</a>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--// table4 -->

    </div>
</div>


