@model IEnumerable<SistemaBancario.Models.ListadoUsuarios>
@{
    ViewData["Title"] = "ListadoClientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <partial name="_MenuLateral" />
    <div id="content">


        <!-- top-bar -->
        <nav class="navbar dnavbar navbar-default mb-xl-5 mb-4">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <form action="BuscarCliente" method="post" class="form-inline mx-auto search-form">

                    <!-- Search-from -->
                    <div class="form-row">
                        <div class="form-group m-1">
                            <label>Buscar cliente por</label>
                        </div>
                        <div class="form-group m-1">
                            <input type="text" class="form-control" name="cedula" placeholder="Cedula" required="">
                        </div>
                        <div class="form-group m-1">
                            <button type="submit" class="btn btn-warning">Buscar</button>
                        </div>
                    </div>
                </form>
                <!--// Search-from -->
            </div>
        </nav>
        <!--// top-bar -->

        <script>
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>

        <!-- table4 -->
        <div class="outer-w3-agile mt-3">
            <h4 class="tittle-w3-agileits mb-4">Listado de clientes</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="text-align:center;">ID</th>
                        <th scope="col" style="text-align:center;">Cedula</th>
                        <th scope="col" style="text-align:center;">Nombre</th>
                        <th scope="col" style="text-align:center;">Apellido</th>
                        <th scope="col" style="text-align:center;">Salario</th>
                        <th scope="col" style="text-align:center;">Cuenta Bancaria</th>
                        <th scope="col" style="text-align:center;">Fecha Registro</th>
                        <th scope="col" style="text-align:center;">Estatus</th>
                        <th scope="col" style="text-align:center;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var cliente in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => cliente.idCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cliente.cedulaCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cliente.nombreCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cliente.apellidoCliente)
                            </td>

                            <td>
                                RD$@Html.DisplayFor(modelItem => cliente.salarioCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cliente.numeroCuentaCliente)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => cliente.fechaRegistroCliente)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => cliente.estatusCliente)
                            </td>
                            <td>

                                <!--// MODAL PARA INFORMACION DEL CLIENTE -->

                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong-@cliente.idCliente">
                                    Info. general
                                </button>

                                <!-- popup content -->
                                <div class="modal fade" id="exampleModalLong-@cliente.idCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle1">Información cliente</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <table class="table table-bordered">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col" colspan="2" style="text-align:center;">@Html.DisplayFor(modelItem => cliente.nombreCliente) @Html.DisplayFor(modelItem => cliente.apellidoCliente) - ID: @Html.DisplayFor(modelItem => cliente.idCliente)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Cedula</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.cedulaCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha nacimiento</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.fechaNacimientoCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Sexo</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.sexoCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Direccion</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.direccionCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Telefono</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.telefonoCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Usuario</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.usuarioCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Salario</td>
                                                            <th>RD$@Html.DisplayFor(modelItem => cliente.salarioCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Descuento mensual para ahorro</td>
                                                            <th>RD$@Html.DisplayFor(modelItem => cliente.ahorroCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Cuenta Bancaria</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.numeroCuentaCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha registro</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.fechaRegistroCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Estatus</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.estatusCliente)</th>
                                                        </tr>

                                                    </tbody>
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th colspan="2">
                                                                Información de Familiar
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Nombre</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.nombreFamiliarCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Apellido</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.apellidoFamiliarCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Cedula</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.cedulaFamiliarCliente)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Parentesco</td>
                                                            <th>@Html.DisplayFor(modelItem => cliente.parentescoCliente)</th>
                                                        </tr>
                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-warning"> <a asp-controller="Usuarios" asp-action="EditarCliente" asp-route-id="@cliente.idCliente">Editar</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--// popup content -->
                                <!--// MODAL PARA INFORMACION DEL CLIENTE -->

                                <button class="btn btn-warning btn-sm">
                                    <a asp-controller="Usuarios" asp-action="EditarCliente" asp-route-id="@cliente.idCliente">Editar</a>
                                </button>

                                @if (@cliente.estatusCliente == "Activo")
                                {

                                    <!-- BOTON INACTIVAR CON MODAL -->
                                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleInactivar-@cliente.idCliente">
                                        <a>Inactivar</a>
                                    </button>

                                    <!-- popup content -->
                                    <div class="modal fade" id="exampleInactivar-@cliente.idCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle1">Inactivar cliente</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <h2>Desea inactivar la cuenta de @cliente.nombreCliente @cliente.apellidoCliente?</h2>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-warning">
                                                        <a asp-controller="Usuarios" asp-action="InactivarCliente" asp-route-id="@cliente.idCliente">Inactivar</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--// popup content -->
                                    <!-- BOTON INACTIVAR CON MODAL -->
                                }
                                else
                                {
                                    <!-- BOTON INACTIVAR CON MODAL -->
                                    <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#exampleActivar-@cliente.idCliente">
                                        <a>Activar</a>
                                    </button>

                                    <!-- popup content -->
                                    <div class="modal fade" id="exampleActivar-@cliente.idCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle1">Activar cliente</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <h2>Desea Activar la cuenta de @cliente.nombreCliente @cliente.apellidoCliente?</h2>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-warning">
                                                        <a asp-controller="Usuarios" asp-action="ActivarCliente" asp-route-id="@cliente.idCliente">Activar</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--// popup content -->
                                    <!-- BOTON INACTIVAR CON MODAL -->

                                }

                                    <!--// MODAL PARA ELIMINAR DEL CLIENTE -->
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalLon-@cliente.idCliente">
                                        Eliminar
                                    </button>

                                    <!-- popup content -->
                                    <div class="modal fade" id="exampleModalLon-@cliente.idCliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLongTitle1">Eliminar cliente</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>

                                                <div class="modal-body">
                                                    <h2>Desea eliminar a @cliente.nombreCliente @cliente.apellidoCliente?</h2>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                                    <button type="button" class="btn btn-danger">
                                                        <a asp-controller="Usuarios" asp-action="EliminarCliente" asp-route-id="@cliente.idCliente">Eliminar</a>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--// popup content -->
                                    <!--// MODAL PARA ELIMINAR DEL CLIENTE -->

                                </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!--// table4 -->
    </div>
</div>




   