@model IEnumerable<SistemaBancario.Models.ListadoUsuarios>
@{
    ViewData["Title"] = "ListadoEmpleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper">
    <partial name="_MenuLateral" />
    <div id="content">

        <!-- top-bar -->
        <nav class="navbar dnavbar navbar-default mb-xl-5 mb-4">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
                <form action="BuscarEmpleado" method="post" class="form-inline mx-auto search-form">

                    <!-- Search-from -->
                    <div class="form-row">
                        <div class="form-group m-1">
                            <label>Buscar empleado por</label>
                        </div>
                        <div class="form-group m-1">
                            <input type="text" class="form-control" name="cedula" placeholder="Cedula" required="">
                        </div>
                        <div class="form-group m-1">
                            <button type="submit" class="btn btn-warning">Buscar</button>
                        </div>

                    </div>
                </form>
                <!--// Search-from -->
            </div>
        </nav>
        <!--// top-bar -->

        <script>
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>


        <!-- table4 -->
        <div class="outer-w3-agile mt-3">
            <h4 class="tittle-w3-agileits mb-4">Listado de empleados</h4>
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" style="text-align:center;">ID</th>
                        <th scope="col" style="text-align:center;">Cedula</th>
                        <th scope="col" style="text-align:center;">Nombre</th>
                        <th scope="col" style="text-align:center;">Apellido</th>
                        <th scope="col" style="text-align:center;">Salario</th>
                        <th scope="col" style="text-align:center;">Telefono</th>
                        <th scope="col" style="text-align:center;">Cargo</th>
                        <th scope="col" style="text-align:center;">Estatus</th>
                        <th scope="col" style="text-align:center;">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var empleado in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => empleado.idEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => empleado.cedulaEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => empleado.nombreEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => empleado.apellidoEmpleado)
                            </td>
                            <td>
                                RD$@Html.DisplayFor(modelItem => empleado.salarioEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => empleado.telefonoEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => empleado.cargoEmpleado)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => empleado.estatusEmpleado)
                            </td>
                            <td>
                                <!-- Button trigger modal -->
                                <!-- <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
        <a asp-controller="Usuarios" asp-action="InformacionEmpleado" asp-route-id="@empleado.idEmpleado">Info. General</a>
    </button>
       -->
                                <!-- Button trigger modal -->

                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong-@empleado.idEmpleado">
                                    Info. general
                                </button>

                                <!-- popup content -->
                                <div class="modal fade" id="exampleModalLong-@empleado.idEmpleado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle1">Información empleado</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <table class="table table-bordered">
                                                    <thead class="thead-dark">
                                                        <tr>
                                                            <th scope="col" colspan="2" style="text-align:center;">@Html.DisplayFor(modelItem => empleado.nombreEmpleado) @Html.DisplayFor(modelItem => empleado.apellidoEmpleado) - ID: @Html.DisplayFor(modelItem => empleado.idEmpleado)</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Cedula</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.cedulaEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha nacimiento</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.fechaNacimientoEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Sexo</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.sexoEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Direccion</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.direccionEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Telefono</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.telefonoEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Usuario</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.usuarioEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Cargo</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.cargoEmpleado)</th>
                                                        </tr>

                                                        <tr>
                                                            <td>Salario</td>
                                                            <th>RD$@Html.DisplayFor(modelItem => empleado.salarioEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Cuenta Bancaria</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.numeroCuentaEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Fecha registro</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.fechaRegistroEmpleado)</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Estatus</td>
                                                            <th>@Html.DisplayFor(modelItem => empleado.estatusEmpleado)</th>
                                                        </tr>


                                                    </tbody>
                                                </table>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
                                                <button type="button" class="btn btn-warning"><a asp-controller="Usuarios" asp-action="EditarEmpleado" asp-route-id="@empleado.idEmpleado">Editar</a></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--// popup content -->
                                <!--// Scrolling long content Modal -->





                                <button class="btn btn-warning btn-sm">
                                    <a asp-controller="Usuarios" asp-action="EditarEmpleado" asp-route-id="@empleado.idEmpleado">Editar</a>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#exampleModalLon-@empleado.idEmpleado">
                                    Eliminar
                                </button>

                                <!-- popup content -->
                                <div class="modal fade" id="exampleModalLon-@empleado.idEmpleado" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle1" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle1">Eliminar cliente</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>

                                            <div class="modal-body">
                                                <h2>Desea eliminar a @empleado.nombreEmpleado @empleado.apellidoEmpleado?</h2>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-danger">
                                                    <a asp-controller="Usuarios" asp-action="EliminarEmpleado" asp-route-id="@empleado.idEmpleado">Eliminar</a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--// popup content -->
                                <!--// Scrolling long content Modal -->
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </div>
</div>



